# Replace these placeholders with your actual keys from Alchemy and MetaMask
# Do not wrap your private key in quotes. Ethers expects just the hex text.

SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY_HERE
PRIVATE_KEY=7eFDEDffF04454575a78AEe13effe9155eB86E8E
